{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "node": true,
        "amd": true,
        "mocha": true,
        "es6": true
    },
    "plugins": [
        "mocha"
    ],
    "rules": {
        "curly": [2, "all"],
        "operator-linebreak": [2, "after"],
        "wrap-iife": 2,
        "comma-style": [2, "last"],
        "camelcase": [2, {"properties": "never"}],
        "dot-notation": [2, {"allowPattern": "^[a-z]+(_[a-z]+)+$"}],
        "max-len": 0,
        "quotes": [2, "single", {"avoidEscape": true}],
        "no-mixed-spaces-and-tabs": 2,
        "no-trailing-spaces": 2,
        "no-multi-str": 2,
        "comma-dangle": 0,
        "space-before-blocks": [2, "always"],
        "keyword-spacing": [2, {}],
        "space-infix-ops": 2,
        "eol-last": 2,
        "linebreak-style": [2, "unix"],
        "no-with": 2,
        "brace-style": [2, "1tbs",  {"allowSingleLine": true}],
        "space-before-function-paren": [2, "never"],
        "key-spacing": [2, {"beforeColon": false,"afterColon": true}],
        "space-unary-ops": [2, {"words": false,"nonwords": false}],
        "no-multiple-empty-lines": 2,
        "array-bracket-spacing": ["error", "always"],
        "object-curly-spacing": ["error", "always"],
        "no-unused-vars": 2,
        "mocha/no-exclusive-tests": 2
    },
    "globals": {
        "expect": false,
        "prototypo": false,
        "fontJSON": false
    }
}
